[default]
#接收人
rev_user = admin@toujizhe.com.cn

#授权码
password = A1234567

#指定发件人
send_users = WebStockWh8@wenhua.com.cn,3405987953@qq.com,1364826576@qq.com,1410000000@qq.com

# 邮箱协议
email_server = pop3.toujizhe.com.cn

# 企业ID，在管理后台获取
CORPID = wwefe26840c41c9ef8

# 自建应用的Secret，每个自建应用里都有单独的secret
CORPSECRET = sj4WFEc-R5Wlw8CrTzxxlSKMfZB4vXTos9nS796y-ZQ

# 应用ID，在后台应用中获取
AGENTID = 1000002

# 接收者用户名,多个用户用|分割
TOUSER = @all

#程序休眠时间
sleep = 1

;程序运行时间在白天8:55 到 11:30  下午1:30 到  3:01
DAY_START = 8,55
DAY_END = 11,30

NIGHT_START = 12,30
NIGHT_END = 15,1